* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
    font-family: Arial, sans-serif;
}

#container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #fff;
    border-radius: 12px;
    width: 250px;
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.24);
    filter: grayscale(20%);
}
.estrelas{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.fas { 
    display: flex;
    color: #FFD700;
    width: 10px;
 }
 .imagenario {
    width: 230px;
    height: 200px;
 }

.card img {
    width: 230px;
    
    object-fit: cover;
    border-radius: 5% / 5%;
    
}

.card:hover {
    filter: grayscale(0);
    margin: 0px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.24);
}

.card-info {
    text-align: start;
}

.card-info h3 {
    font-size: 1rem;
    font-weight: bold;
    color: #111;
    margin-bottom: 4px;
}

.card-info h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #111;
    margin-bottom: 4px;
}

.card-info span {
    font-size: 0.85rem;
    color: #666;
}